{% macro render_field(field, focus=False) %}
{% if field.label.text!='' %}<label for="{{field.name}}" class="sr-only">{{field.label.text}}</label>{% endif %}
{% if field.type=='StringField' %}<input type="string" id="{{field.name}}" name="{{field.name}}" placeholder="{{field.label.text}}" {%if focus%}autofocus{%endif%}/>{% endif %}
{% if field.type=='PasswordField' %}<input type="password" id="{{field.name}}" name="{{field.name}}" placeholder="{{field.label.text}}"/>{% endif %}
{% if field.description.text!='' %} <i>{{ field.description }}</i>{% endif %}
{% endmacro %}
