<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Libre Captcha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('core.about') }}">{{ _("About") }}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('core.why') }}">{{ _("Why?") }}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('core.faq') }}">{{ _("FAQ") }}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="https://democaptcha.mytipy.net/">{{ _("Demo") }}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('core.documentation') }}">{{ _("Documentation") }}</a>
        </li>
    </ul>
    </div>
    <div class="text-right ml-auto order-2">
    <ul class="navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user.dashboard') }}">{{ _("Dashboard") }}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user.logout') }}">{{ _("Logout") }}</a>
        </li>
        {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user.subscribe') }}">{{ _("Subscribe") }}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user.login') }}">{{ _("Login") }}</a>
        </li>
        {% endif %}
    </ul>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <section class="flashes">
    {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message|safe }}</div>
    {% endfor %}
    </section>
    {% endif %}
{% endwith %}
