{% extends 'base.html' %}
{% block content %}
<section class="row">
    <section class="col-12">
    <h1>{{ _("About") }}</h1>

    <p>{{ _("Libre Captcha is an application offering a tool in order to block auto-spam.") }}</p>

    <p>{{ _("This tool is certainly not completely efficient, but it can slow down spambots.") }}</p>

    <p>{{ _('Libre Captcha is Libre Software (<a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3+</a>) and can be freely used.') }}</p>

    <p>{{ _('Sources are available <a href="https://framagit.org/Mindiell/captcha">here</a>.')}}</p>

    <p>{{ _("You can contact us by mail at <strong>librecaptcha (at) mytipy (dot) net</strong>.")}}</p>
    </section>
</section>
{% endblock %}
