.librecaptcha_body{margin:0}
.librecaptcha_left{
float:left;
border: 1px solid red;
}
.librecaptcha_right{
margin-left:300px;
}
.librecaptcha_main{
width:290px;
border:3px solid #bbf;
border-radius:8px;
background:#eef;
font-size:10pt;
font-family:Helvetica
}
.librecaptcha_table{
width:100%
}
.librecaptcha_td{
text-align:center;
background:#88c;
color:#fff;
padding:.3em
}
#toggle_box{display:none}
.clickable{
cursor:pointer
}
#toggle_box:checked ~ #visual_challenge{display:block}
#toggle_box:checked ~ #visual_audio{display:none}
#toggle_box:not(:checked) ~ #visual_challenge{display:none}
#toggle_box:not(:checked) ~ #visual_audio{display:block}

