<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Libre Captcha without Javascript</title>
	<link rel="stylesheet" href="/static/css/no-js-styles.css" />
</head>
<body class="librecaptcha_body">
    <div class="librecaptcha_main librecaptcha_left">
        <div class="librecaptcha_challenge">
            <table class="librecaptcha_table" cellspacing='0' cellpadding='0'>
            <tr>
                <td class="librecaptcha_td clickable"><label class="clickable" for="toggle_box">Audio challenge</label></td>
            </tr>
            </table>
            <div>
                <div id='audio_challenge'>
                <table style='width: 280px;margin:.3em auto'>
                <tr>
                    <td style='padding:0 1em'><strong>Listen next sound and type in short and long beeps respectively with dots (.) and dashes (-) in "Answer" input:</strong></td>
                </tr>
                <tr>
                    <td>
                    <audio controls style='width:280px' onplay='document.getElementById(\"librecaptcha-answer-audio\").focus()'><source src='{{g.host_url}}{{url_for('static', filename=g.audio_challenge.fileurl)}}' type='audio/ogg'>Sorry, your browser does not support the audio element.</audio>
                    </td>
                </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
    <div class="librecaptcha_main librecaptcha_right">
        <div class="librecaptcha_challenge">
            <table class="librecaptcha_table" cellspacing='0' cellpadding='0'>
            <tr>
                <td class="librecaptcha_td">Visual challenge</td>
            </tr>
            </table>
            <div>
                <div id='visual_challenge'>
                <table style='width: 280px;margin:.3em auto'>
                <tr>
                    <td colspan='3' style='padding:0 1em'><strong>Choose thumbnail corresponding to the main picture and write code from its tooltip in "Answer" input:</strong></td>
                </tr>
                <tr>
                    <td colspan='3'><img style='height:280px;width:280px' src='{{g.host_url}}{{url_for('static', filename=g.visual_source.fileurl)}}' title='{{g.visual_source.license}} - {{g.visual_source.author}}'/></td>
                </tr>
                {%for visual_challenge in g.visual_challenges%}
                {%if loop.index%3==1%}
                <tr>
                {%endif%}
                    <td><div style='background:url({{g.host_url}}{{url_for('static', filename=visual_challenge.fileurl)}});display:block;width:90px;height:90px' title='{{visual_challenge.token[:8]}}'></div></td>
                {%if loop.index%3==0%}
                </tr>
                {%endif%}
                {%endfor%}
                </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
